<div class="list-container" [ngClass]="{'dark': darkMode, 'light': !darkMode}">
    <div class="header" [ngClass]="{'dark-accent': darkMode, 'light-accent': !darkMode}">
        <div class="brand">Where in the world?</div>
        <div class="darkmode-switch">
            <img class="darkmode-switch-icon" src="{{darkModeIcon}}" alt="">
            <div class="darkmode-switch-text" (click)="setMode()">Dark Mode</div>
        </div>
    </div>
    <div class="search-and-filter">
        <div class="goback" [ngClass]="{'dark-accent': darkMode, 'light-accent': !darkMode}">
            <img src="{{backIcon}}" alt="">
            <div class="gobacktext" (click)="back()">Back</div>
        </div>
    </div>
    <div class="detail-body">
        <div class="detail-flag">
            <img src="{{theCountry?.flag}}" alt="">
        </div>
        <div class="detail-description">
            <div class="detail-name">{{theCountry?.name}}</div>
            <div class="extra-detail-description">
                <div class="left-extra">
                    <div class="d-native-name"><b>Native Name: </b>{{theCountry?.nativeName}}</div>
                    <div class="d-population"><b>Population: </b>{{(theCountry?.population)?.toLocaleString("en")}}
                    </div>
                    <div class="d-region"><b>Region: </b>{{theCountry?.region}}</div>
                    <div class="d-subregion"><b>Sub Region: </b>{{theCountry?.subregion}}</div>
                    <div class="d-capital"><b>Capital: </b>{{theCountry?.capital}}</div>
                </div>
                <div class="right-extra">
                    <div class="d-domain"><b>Top Level Domain: </b>{{theCountry?.topLevelDomain}}</div>
                    <div class="d-currency"><b>Currencies: </b>{{currencies}}</div>
                    <div class="d-language"><b>Languages: </b>{{languages}}</div>
                </div>
            </div>
            <div class="border-countries">
                <div class="bordertitle"><b>Border Countries:</b></div>
                <div class="each-border-country" *ngFor="let border of borderCountries" (click)="viewCountry(border)"
                    [ngClass]="{'dark-accent': darkMode, 'light-accent': !darkMode}">
                    {{border}}</div>
            </div>
        </div>
    </div>
</div>